nav {
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  border: 1px solid rgb(224, 217, 217);
  background-color: rgb(209, 223, 241);
  overflow: hidden;
  transition: ease-in-out 1s;
}
nav:hover {
  background-color: rgb(105, 165, 243);
}
nav h1 {
  font-family: "Pokemon Solid", sans-serif;
  text-shadow: 4px 2px 5px blue;
  color: rgb(245, 230, 22);
  letter-spacing: 5px;
  margin-top: 10px;
  font-size:30px;
}
nav input {
  max-width: 200px;
  height: 3.5vh;
  border: 1px solid rgb(167, 164, 164);
  border-radius: 10px;
  background-color:inherit;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  letter-spacing: 2px; 
  transition:ease-in-out 0.5s;
}
nav input:hover {
  background-color: rgb(187, 184, 142);
}
mat-form-field {
  width:8rem;
  height:80%;
}
@media screen and (max-width: 600px) {
  nav { 
    width: 100%;
  }
  nav input {
    max-width: 120px;
    font-size: 14px;
    letter-spacing:1px
  }
  nav h1 {
    font-size: 18px;
    margin: 0;
    letter-spacing: 1px;
  }
  mat-form-field {
    width: 4rem;
  }
  }
  @media screen and (max-width: 320px) {
    nav h1 {
      font-size: 16px;
      margin: 0;
      letter-spacing: 0px;
    }
    nav input {
      max-width: 80px;
      font-size: 12px;
      letter-spacing:0px
    }
  }